.courses .Course_section {
  min-width: calc(100% / 4 - 31px);
}
@media (max-width: 870px) {
  .courses .Course_section {
    min-width: calc(100% / 3 - 31px);
  }
}

@media (max-width: 560px) {
  .courses .Course_section {
    min-width: calc(100% / 2 - 31px);
  }
}

@media (max-width: 410px) {
  .courses .Course_section {
    min-width: calc(100% / 1 - 31px);
  }
}
.courses .text .info h5 {
  line-height: 1.2;
  letter-spacing: -0.05rem;
  font-size: 75%;
  margin: 8px 0px 2px;
}
.courses .text .info div span {
  font-size: x-small;
  color: #9a9a9a;
}
.courses .info div img {
  width: 100%;
}
.courses .text .star {
  display: flex;
  gap: 2px;
  flex-direction: row;
  margin: 5px 0px;
}
.courses .text .star .rate {
  color: #b56a1c;
  font-weight: bold;
  margin-right: 3px;
}
.courses .text .star .checked {
  color: orange;
}
.courses .text .star .num {
  font-size: xx-small;
}
.courses .Course_section .price {
  display: flex;
  gap: 8px;
  font-size: small;
  color: #9a9a9a;
}
.courses .Course_section .price span:first-child {
  font-weight: bold;
  color: var(--main-color);
  font-size: 100%;
}
.courses .small {
  display: none;
}
@media (max-width: 907px) {
  .courses {
    min-width: 230px;
    text-align: center;
    width: 100%;
  }
  .courses .text p {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    font-size: medium;
  }
  .courses ul li {
    font-size: medium;
  }

  .courses .text .info {
    text-align: left;
  }
}
@media (max-width: 462px) {
  .courses .text {
    min-width: 230px;
  }
}
