:root {
  --main-font: Arial, Helvetica, sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

button:hover {
  background: rgb(5, 166, 166) !important;
  color: #f4f4f4;
  transition: all 0.5s;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
.box {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
@media (max-width: 705px) {
  .box {
    padding: 0px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .box {
    width: 1100px;
  }
}
