:root {
  --main-font: Arial, Helvetica, sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

button:hover {
  background: rgb(5, 166, 166) !important;
  color: #f4f4f4;
  transition: all 0.5s;
}
a {
  text-decoration: none;
  color: var(--main-color);
}
.box {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
@media (max-width: 705px) {
  .box {
    padding: 0px;
  }
}

/* Large */

@media (min-width: 1200px) {
  .box {
    width: 1100px;
  }
}
/*Start Courses*/
.courses {
  position: relative;
}
.courses p {
  margin: 16px 0px;
}
.courses ul {
  padding: 16px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.courses ul :not(.active) {
  color: #9a9a9a;
}
.courses ul li {
  font-weight: bolder;
}
.courses ul li:hover {
  color: var(--main-color);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.courses .text {
  padding: 32px;
  margin: 16px 0px;
  border: 1px solid #1c1d1f;
  box-shadow: 0 2px 12px rgb(0 0 0 / 8%);
}

.courses .left,
.courses .right {
  position: absolute;
  background-color: var(--main-color);
  color: white;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  padding: 8px;
  bottom: 24%;
  cursor: pointer;
  font-size: 32px;
}
.courses .right {
  right: 5px;
}
.courses .left {
  display: none;
  left: 0;
  padding-left: 12px;
  padding-right: 4px;
}
.courses .text p {
  font-weight: 100;
  width: 80%;
}
.courses .text button {
  background: white;
  padding: 16px 8px;
  font-weight: bolder;
  font-size: small;
}
.courses .text .info {
  margin-top: 32px;
  display: flex;
  gap: 31px;
  scroll-behavior: smooth;
  overflow: hidden;
}
.courses .Course_section {
  min-width: calc(100% / 4 - 31px);
}
@media (max-width: 870px) {
  .courses .Course_section {
    min-width: calc(100% / 3 - 31px);
  }
}

@media (max-width: 560px) {
  .courses .Course_section {
    min-width: calc(100% / 2 - 31px);
  }
}

@media (max-width: 410px) {
  .courses .Course_section {
    min-width: calc(100% / 1 - 31px);
  }
}
.courses .text .info h5 {
  line-height: 1.2;
  letter-spacing: -0.05rem;
  font-size: 75%;
  margin: 8px 0px 2px;
}
.courses .text .info div span {
  font-size: x-small;
  color: #9a9a9a;
}
.courses .info div img {
  width: 100%;
}
.courses .text .star {
  display: flex;
  gap: 2px;
  flex-direction: row;
  margin: 5px 0px;
}
.courses .text .star .rate {
  color: #b56a1c;
  font-weight: bold;
  margin-right: 3px;
}
.courses .text .star .checked {
  color: orange;
}
.courses .text .star .num {
  font-size: xx-small;
}
.courses .Course_section .price {
  display: flex;
  gap: 8px;
  font-size: small;
  color: #9a9a9a;
}
.courses .Course_section .price span:first-child {
  font-weight: bold;
  color: var(--main-color);
  font-size: 100%;
}
.courses .small {
  display: none;
}
@media (max-width: 907px) {
  .courses {
    min-width: 230px;
    text-align: center;
    width: 100%;
  }
  .courses .text p {
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    font-size: medium;
  }
  .courses ul li {
    font-size: medium;
  }

  .courses .text .info {
    text-align: left;
  }
}
@media (max-width: 462px) {
  .courses .text {
    min-width: 230px;
  }
}
