/*Start Courses*/
.courses {
  position: relative;
}
.courses p {
  margin: 16px 0px;
}
.courses ul {
  padding: 16px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.courses ul :not(.active) {
  color: #9a9a9a;
}
.courses ul li {
  font-weight: bolder;
}
.courses ul li:hover {
  color: var(--main-color);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.courses .text {
  padding: 32px;
  margin: 16px 0px;
  border: 1px solid #1c1d1f;
  box-shadow: 0 2px 12px rgb(0 0 0 / 8%);
}

.courses .left,
.courses .right {
  position: absolute;
  background-color: var(--main-color);
  color: white;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  padding: 8px;
  bottom: 24%;
  cursor: pointer;
  font-size: 32px;
}
.courses .right {
  right: 5px;
}
.courses .left {
  display: none;
  left: 0;
  padding-left: 12px;
  padding-right: 4px;
}
.courses .text p {
  font-weight: 100;
  width: 80%;
}
.courses .text button {
  background: white;
  padding: 16px 8px;
  font-weight: bolder;
  font-size: small;
}
.courses .text .info {
  margin-top: 32px;
  display: flex;
  gap: 31px;
  scroll-behavior: smooth;
  overflow: hidden;
}
